<?xml version="1.0"?>
<robot name="r5" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find robot_and_sensor_hw)/urdf/r5.urdf.xacro" />

    <!-- ati ftm115 -->
    <xacro:include filename="$(find robot_and_sensor_hw)/urdf/ftm115.urdf.xacro" />
    <xacro:ati_ftm115 name="fts" parent="fwk_tool_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ati_ftm115>

</robot>
