<?xml version="1.0"?>
<robot name="r5" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find robot_and_sensor_hw)/urdf/r5.urdf.xacro" />

    <xacro:include filename="$(find force_torque_sensor)/urdf/fts_sim.urdf.xacro" />
		
    <xacro:fts_sim name="fts" parent="fwk_tool_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fts_sim>

</robot>
